* {
  margin: 0;
  padding: 0; 
 
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  font-size: 22px;
  font-weight: 600;

  a {
    text-decoration: none;
    color: #000;
  }
}

.logo:hover {
  color: #6a6969;
}

.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    margin: 15px;
  }

  a:hover {
    color: rgb(249, 249, 249);
    text-decoration: none;
  }

}

