button {
  padding: 15px 30px;
  background-color: rgb(65, 65, 65);
  color: #fff;
  font-size: 16px;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(46, 46, 46);
  cursor: pointer;
  color: black;
}
