@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

header{
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: #0b0b0b;
    font-size: 16px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #0b0b0b;
    display: block;
    font-weight: 600;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.menu .navbar ul li a:hover {
    color: #4c4242;
}

#menu {
    display: none;
}

.buy-add {
    position: relative;
    width: 350px;
    height: 40px;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.buy-add label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-add img{
    width: 260px;
    height: 240px;
}

.buy-add h1 {
    height: 16.5vh;
    display: flex;
    font-weight: 800;
    text-align: center;
    font-size: 2.1em;
}

.buy-add p {
    height: 50px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.buy-add a {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    color: #f1f1f1;
}

.buy-add a:hover{
    color: #9c9b9b;
    
}


.button-3 {
    width: 100%;
    background: yellow;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: azure;
    font-weight: 600;
}

button:hover{
    background-color: #5a5858;
}