@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: linear-gradient(
        rgba(111, 107, 107, 0.7),
        rgba(188, 184, 184, 0.7)),
        url(/Html%20y%20Css/Imagenes/pexels-nietjuh-934070\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: #0b0b0b;
    font-size: 16px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #0b0b0b;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #4c4242;
}
#menu {
    display: none;
}

.wrap {
    position: relative;
    width: 350px;
    height: 400px;
    background: transparent;
    border: 2px rgb(8, 8, 8) solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.error-message {
    font-size: 10px;
    width: 250px;
    height: 80px;
}

.form-box  h1{
    font-size: 2em;
    color: #0b0b0b;
    text-align: center;
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -3px;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #0b0b0b;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #0b0b0b;
    font-weight: 500;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 550;
    padding: 2px 35px 2px 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #0b0b0b;
    line-height: 50px;
}

.remenber-forgot a {
    color: #0b0b0b;
    text-decoration: none;
    font-size: .9em;
    font-weight: 500;
    display: flex;
    margin: -5px 0 15px;
    display: flex;
}

.remenber-forgot a:hover{
    text-decoration: underline;
}

.button-2 {
    width: 100%;
    height: 35px;
    background: #0b0b0b;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: azure;
    font-weight: 600;

}
