@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body { 
    font-family: 'Poppins', sans-serif;
}
header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(/Html%20y%20Css/Imagenes/pexels-kristingroth2-54203.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left a {
    color: white;
    font-weight: 800;
  }

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #a1a1a1;
}
#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
    
}

.header-content h1 {
    padding: 10px 400px;
    font-size: 25px;
    line-height: 35px;
    color: #f9fafc;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 16px;
    color: #f9fafc;
    padding: 0 400px;
    margin-bottom: 28px;
}

.button-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #e5ae90;
    color: #f9fafc;
    border-radius: 10px;
}

.button-1 a {
    font-weight: 600;
    font-size: 14px;
}

.button-1:hover {
    background-color: #c58973;
}

.feature-products {
    margin: 50px auto ;
    text-align: center;
}

.feature-products h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.products-contain {
    padding: 0px 100px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.clothes {
    margin: 25px 80px;
    flex: 0 0 calc(25px - 20px);
    max-width: calc(25% - 20px);
}
  
.clothes img {
    cursor: pointer;
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

.clothes p {
    cursor: pointer;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  .footer {
    position: absolute;
    width: 100%;
   
    align-items: center;
    justify-content: space-between;
    background-color: black;
    align-items: center;

}
.footer p{
    color: #f9fafc;
    padding: 10px 580px;
    
}
.footer-links {
    
    padding: 25px 580px 10px 580px;
    display: flex;
    position: initial;
    border-color: #f9fafc;
    align-items: center;
    justify-content: space-between;
    left: 100px;
    
}

.border-img{
    border-radius: 36px;
    background-color: #fffdfc;
    justify-content: center;
    cursor: pointer;
    
    
}
.footer-links img {
    width: 32px;
    height: 30px;
    display: flex;
    justify-content: center;

    
    
}
.footer-list {
    cursor: pointer;
    padding: 10px 400px;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}

.footer-list li a{
    color: #f1f1f1;
}
.footer-list li a:hover{
    color: #e5ae90;

}